<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <title>Win8_AngularJS</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <!-- Win8_AngularJS references -->
    <link href="/css/default.css" rel="stylesheet" />
    <link href="css/todo.css" rel="stylesheet" />

    <script src="Scripts/angular.js"></script>
    <script src="js/todo.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
    <div ng-controller="TodoCtrl" style="width: 100%; height: 100%;">
        <h2>Todo</h2>
        <span>{{remaining()}} of {{todos.length}} remaining</span>

        [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
          <li ng-repeat="todo in todos">
              <input type="checkbox" ng-model="todo.done">
              <span class="done-{{todo.done}}">{{todo.text}}</span>
          </li>
      </ul>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30"
                placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>
</body>
</html>
